{% import "@SbSAdminLTE/Layout/main_macros.html.twig" as macros %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}AdminLTE{% endblock %}</title>
    {# Tell the browser to be responsive to screen width. #}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block corestyles %}
        <link rel="stylesheet" href="{{ asset('components/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('components/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/sbsadminlte/styles/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/sbsadminlte/styles/skins/_all-skins.min.css') }}">
    {% endblock %}
    {# Use standard twig block stylesheets to include CSS that is used on single page. #}
    {% block stylesheets %}{% endblock %}
    {% block corejs %}
        <script src="{{ asset('components/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('components/jqueryui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('components/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/sbsadminlte/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('bundles/sbsadminlte/plugins/fastclick/lib/fastclick.js') }}"></script>
        <script src="{{ asset('bundles/sbsadminlte/js/AdminLTE.min.js') }}"></script>
    {% endblock %}
    {% block javascripts_head %}{% endblock %}
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition {{ admin_lte_skin|default('skin-blue') }} sidebar-mini login-page {{ sidebar_collapse(app.session) }}">
{% block inner_body %}
    <div class="wrapper">
        {% block admin_lte_header %}
            <header class="main-header">
                {% block admin_lte_logo %}
                    <a href="#" class="logo">
                        <span class="logo-mini"><b>A</b>LT</span>
                        <span class="logo-lg"><b>Admin</b>LTE</span>
                    </a>
                {% endblock %}
                {# Header Navbar: style can be found in header.less #}
                <nav class="navbar navbar-static-top" role="navigation">
                    {{ sidebar_toggle_button() }}
                    {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                {% block admin_lte_navbar %}
                                    {{ nav_bar_notifications() }}
                                    {{ nav_bar_tasks() }}
                                    {{ nav_bar_user_account() }}
                                {% endblock %}
                            </ul>
                        </div>
                    {% endif %}
                </nav>
            </header>
        {% endblock %}
        {# Left side column. Contains the logo and sidebar: style can be found in sidebar.less #}
        <aside class="main-sidebar">
            <section class="sidebar">
                {% block admin_lte_sidebar %}
                    {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ sidebar_menu(app.request) }}
                    {% endif %}
                {% endblock %}
            </section>
        </aside>
        {# Content wrapper. Contains the content of the page. #}
        <div class="content-wrapper">
            {% block content %}
                <section class="content-header">
                    {% block header_content %}
                        {{ macros.page_header("Page Title", "Description of Page") }}
                    {% endblock %}
                    {% block admin_lte_breadcrumb %}{% endblock %}
                </section>
                <section class="content">
                    {{ include("@SbSAdminLTE/Layout/flash_message.html.twig") }}
                    {% block page_content %}{% endblock %}
                </section>
            {% endblock %}
        </div>
        {% block admin_lte_footer %}
            <footer class="main-footer">
                <div class="pull-right hidden-xs"><b>Version</b> 2.3.8</div>
                <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong>
                All rights reserved.
            </footer>
        {% endblock %}
    </div>
{% endblock %}
{# Use standard twig block javascripts to include JS that is used on single page. #}
{% block javascripts %}{% endblock %}
</body>
</html>
