{% import "SbSAdminLTEBundle:Layout:macros.html.twig" as admin_lte_macros %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}AdminLTE{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block corestyles %}
        {% stylesheets
        "components/bootstrap/css/bootstrap.min.css"
        "components/font-awesome/css/font-awesome.min.css"
        "bundles/sbsadminlte/styles/AdminLTE.min.css"
        "bundles/sbsadminlte/styles/skins/_all-skins.min.css"
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {# use standard twig block stylesheets to include CSS that is used on single page #}
        {% block stylesheets %}{% endblock %}
    {% endblock %}
    {% block javascripts_head %}{% endblock %}
</head>
<body class="hold-transition {{ admin_lte_skin|default('skin-blue') }} fixed sidebar-mini login-page">
{% block inner_body %}
<div class="wrapper">
    {% block admin_lte_header %}
        <header class="main-header">
            {% block admin_lte_logo %}
                <a href="#" class="logo">
                    <span class="logo-mini"><b>A</b>LT</span>
                    <span class="logo-lg"><b>Admin</b>LTE</span>
                </a>
            {% endblock %}
            {# Header Navbar: style can be found in header.less #}
            <nav class="navbar navbar-static-top" role="navigation">
                {# Sidebar toggle button #}
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            {% block admin_lte_navbar %}{% endblock %}
                        </ul>
                    </div>
                {% endif %}
            </nav>
        </header>
    {% endblock %}
    {# Left side column. contains the logo and sidebar: style can be found in sidebar.less #}
    <aside class="main-sidebar sidebar-offcanvas">
        <section class="sidebar">
            {% block admin_lte_sidebar %}
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                {% endif %}
            {% endblock %}
        </section>
    </aside>
    {# Right side column. Contains the navbar and content of the page #}
    <div class="content-wrapper">
        {% block content %}
            <section class="content-header">
                {% block header_content %}
                    {{ admin_lte_macros.page_header("Page Title", "Description of Page") }}
                {% endblock %}
                {% block admin_lte_breadcrumb %}{% endblock %}
            </section>
            <section class="content">
                {% block page_content %}{% endblock %}
            </section>
        {% endblock %}
    </div>
    {% block admin_lte_footer %}
        <footer class="main-footer">
            <div class="pull-right hidden-xs"><b>Version</b> 2.3.8</div>
            <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong>
            All rights reserved.
        </footer>
    {% endblock %}
</div>
{% endblock %}
{% block corejs %}
    {% javascripts
    "components/jquery/jquery.min.js"
    "components/jquery-ui/jquery-ui.min.js"
    "components/bootstrap/js/bootstrap.min.js"
    "bundles/sbsadminlte/plugins/slimScroll/jquery.slimscroll.min.js"
    "bundles/sbsadminlte/plugins/fastclick/fastclick.min.js"
    "bundles/sbsadminlte/js/AdminLTE.min.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
{% endblock %}
</body>
</html>
