<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks"></i>
        <span class="badge badge-danger navbar-badge">{{ total }}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">{{ total }} task(s)</span>
        {% for task in tasks %}
            <div class="dropdown-divider"></div>
            <a href="{{ path('sbs_adminlte_show_task', {'taskId': task.id}) }}" class="dropdown-item">
                {{ task.title }}
                <span class="float-right badge bg-{{ task.color }}">{{ task.progress }}%</span>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-{{ task.color }}" style="width: {{ task.progress }}%"></div>
                </div>
            </a>
        {% endfor %}
        <div class="dropdown-divider"></div>
        <a href="{{ path('sbs_adminlte_all_tasks') }}" class="dropdown-item dropdown-footer">
            See All Tasks
        </a>
    </div>
</li>
