{% extends '@SbSAdminLTE/Layout/simple.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block page_content %}
    <div class="login-box">
        {% block admin_lte_logo %}
            <div class="login-logo">
                <a href="/"><b>Admin</b>LTE</a>
            </div>
        {% endblock %}
        <div class="card">
            <div class="card-body login-card-body">
                {% block login_form %}
                    <p class="login-box-msg">Sign in to start your session</p>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        {% endif %}
                        <div class="form-group input-group mb-3">
                            <input class="form-control" type="text" id="username" name="_username"
                                   value="{{ last_username }}" required="required" autocomplete="username"
                                   placeholder="{{ 'security.login.username'|trans }}">
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="fas fa-user"></span></div>
                            </div>
                        </div>
                        <div class="form-group input-group mb-3">
                            <input class="form-control" type="password" id="password" name="_password"
                                   required="required"
                                   autocomplete="current-password" placeholder="{{ 'security.login.password'|trans }}">
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="fas fa-lock"></span></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="remember_me" name="_remember_me">
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary btn-block" type="submit" id="_submit"
                                        name="_submit">{{ 'security.login.submit'|trans }}</button>
                            </div>
                        </div>
                    </form>
                {% endblock %}
                {% block social_login %}{% endblock %}
                <a href="{{ path("fos_user_resetting_request") }}">I forgot my password</a><br>
                <a href="{{ path("fos_user_registration_register") }}" class="text-center">Register a new membership</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/sbsadminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css") }}"/>
{% endblock %}
