{% import "@SbSAdminLTE/Layout/main_macros.html.twig" as macros %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}AdminLTE 3{% endblock %}</title>
    {# Tell the browser to be responsive to screen width #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block favicons %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}
    {% block corestyles %}
        {# overlayScrollbars #}
        <link rel="stylesheet"
              href="{{ asset('bundles/sbsadminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
        {# AdminLTE Style #}
        <link rel="stylesheet" href="{{ asset('bundles/sbsadminlte/styles/AdminLTE.min.css') }}">
    {% endblock %}
    {# Use standard twig block stylesheets to include CSS that is used on single page. #}
    {% block stylesheets %}{% endblock %}
    {% block corejs %}
        {# jQuery #}
        <script src="{{ asset('bundles/sbsadminlte/plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/sbsadminlte/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
        {# Resolve conflict in jQuery UI tooltip with Bootstrap tooltip#}
        <script>$.widget.bridge('uibutton', $.ui.button);</script>
        {# Bootstrap 4 #}
        <script src="{{ asset('bundles/sbsadminlte/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        {# overlayScrollbars #}
        <script src="{{ asset('bundles/sbsadminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
        {# AdminLTE App #}
        <script src="{{ asset('bundles/sbsadminlte/js/AdminLTE.min.js') }}"></script>
    {% endblock %}
    {% block javascripts_head %}{% endblock %}
    {% block fonts %}
        {# Font Awesome #}
        <link rel="stylesheet" href="{{ asset('bundles/sbsadminlte/plugins/fontawesome-free/css/all.min.css') }}">
        {# Ionicons #}
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        {# Google Font: Source Sans Pro #}
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% endblock %}
</head>
{% block body %}
    <body class="hold-transition sidebar-mini {{ sidebar_collapse(app.request) }}">
    <div class="wrapper">
        {# Navbar #}
        {% block admin_lte_navbar %}
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {{ sidebar_toggle_button() }}
                    </li>
                </ul>
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {# Top navbar links #}
                    {{ navbar_menu(app.request) }}
                    {# Right navbar links #}
                    <ul class="navbar-nav ml-auto">
                        {# Notifications Dropdown Menu #}
                        {{ navbar_notifications() }}
                        {# Tasks Dropdown Menu #}
                        {{ navbar_tasks() }}
                        {# User Dropdown Menu #}
                        {{ navbar_user_account() }}
                    </ul>
                {% endif %}
            </nav>
        {% endblock %}
        {# Main Sidebar Container #}
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            {% block admin_lte_logo %}
                <a href="{{ path('homepage') }}" class="brand-link">
                    <img src="{{ asset('bundles/sbsadminlte/img/AdminLTELogo.png') }}"
                         alt="AdminLTE Logo"
                         class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>
                </a>
            {% endblock %}
            {# Sidebar #}
            {% block admin_lte_sidebar %}
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="sidebar">
                        <nav class="mt-2">
                            {{ sidebar_menu(app.request) }}
                        </nav>
                    </div>
                {% endif %}
            {% endblock %}
        </aside>
        <div class="content-wrapper">
            {# Content Header (Page header) #}
            {% block header_content %}
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">{{ macros.page_header("Page Title", "Description of Page") }}</div>
                            <div class="col-sm-6">{% block admin_lte_breadcrumb %}{% endblock %}</div>
                        </div>
                    </div>
                </section>
            {% endblock %}
            <section class="content">
                {{ include("@SbSAdminLTE/Layout/flash_message.html.twig") }}
                {% block page_content %}{% endblock %}
            </section>
        </div>
        {% block admin_lte_footer %}
            <footer class="main-footer">
                <div class="float-right d-none d-sm-block"><b>Version</b> 3.0.x</div>
                <strong>Copyright &copy; 2014-{{ "now"|date("Y") }} <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
                All rights reserved.
            </footer>
        {% endblock %}
    </div>
    {# Use standard twig block javascripts to include JS that is used on single page. #}
    {% block javascripts %}{% endblock %}
    </body>
{% endblock %}
</html>
