{% macro render_menu_item(item) %}
    {% import _self as this %}
    {% if item.route or item.children %}
        <li id="{{ item.id }}" class="nav-item {{ item.children ?  item.active ? 'menu-open has-treeview': 'has-treeview' : '' }}">
            {{ this.render_link(item) }}
        </li>
    {% else %}
        <li class="nav-header">{{ item.label }}</li>
    {% endif %}
{% endmacro %}

{% macro render_link(item) %}
    {% import _self as this %}
    <a href="{{ item.children ? '#' : '/' in item.route ? item.route : path(item.route, item.routeArgs) }}" class="nav-link {{ item.active and not item.children ? 'active' : '' }}">
        <i class="nav-icon {{ item.icon|default('far fa-circle') }}"></i>
        <p>
            {{ item.label }}
            {% if item.children %}
                <i class="right fas fa-angle-left"></i>
            {% else %}
                {% if item.badges %}
                    {% for text, color in item.badges %}
                        <span class="right badge badge-{{ color }}">{{ text }}</span>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </p>
    </a>
    {% if item.children %}
        {{ this.render_children(item.children) }}
    {% endif %}
{% endmacro %}

{% macro render_children(children) %}
    {% import _self as this %}
    <ul class="nav nav-treeview">
        {% for item in children %}
            <li class="nav-item {{ item.children ?  item.active ? 'menu-open has-treeview': 'has-treeview' : '' }}" id="{{ item.id }}">
                {{ this.render_link(item) }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
